@model TemplateEngine.TemplateWithoutPartialViewModel

@{
    Layout = "_layout.cshtml";
    Model.CompanyName = "New Company Name";
}

Hi @Model.UserName,
<br/><br/>
@if (Model.SiteNames.Length == 1)
{
    <p>
        Site <b>@Model.SiteNames.First()</b> is attached to this email.
    </p>
}
else
{
    <p>
        Sites <b>@string.Join(", ", Model.SiteNames)</b> are attached to this email.
    </p>
}
<p>
    Support team at <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a>.
</p>

Sincerely,<br/>
The @Model.CompanyName Team
@Model.GetSignature("John")

@section footer {
    <footer>
        <div>Footer</div>
    </footer>
    
}